.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
  }
  
  .register h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .register-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 0rem;
    width: 100%;
    max-width: 1200px;
  }
  
  .register-steps {
    position: relative;
    padding-left: 2rem;
    width: 100%;
    max-width: 320px;
    margin-top: 10rem;
  }
  
  .register-steps::before {
    content: '';
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 16rem;
    background-color: #84befd69;
  }
  
  .step {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .step:last-child {
    margin-bottom: 0;
  }
  
  .step::before {
    content: '';
    position: absolute;
    left: -1.8rem;
    top: 0;
    width: 12px;
    height: 12px;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    border: 7px solid #007bff;
    z-index: 1;
  }
  
  .step h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    margin-left: 20px;
  }
  
  .step p {
    font-size: 0.9rem;
    color: #666666;
    margin-left: 20px;
  }
  .register-form-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    gap: 2.5rem;
    background-color: #ffffff;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .form-row {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .form-group {
    flex: 1;
    width: 100%;
  }
  
  .input-container {
    position: relative;
    width: 100%;
  }
  
  .input-container input,
  .input-container select {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border: 1px solid #ced4daa1;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #495057;
    background-color: #f8f9fa;
    box-sizing: border-box;
  }
  
.input-container input[type="file"],
textarea,
.register-button {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ced4daa1;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #495057;
  background-color: #f8f9fa;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.register-button {
  background-color: #01589A;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.75rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

  .input-container .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1rem;
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  
  .register-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    input,
    select,
    textarea {
      width: 100%;
      padding: 0.75rem;

    }
    
  .input-container .icon {
    left: 0.75rem;
  }

  .register-button {
    width: 100%;
    max-width: 100%;
  }
  
    .register-container {
      grid-template-columns: 1fr;
    }
  
    .form-row {
      flex-direction: column;
      gap: 1.5rem;
    }
    .register-form {
      justify-self: center;
      width: 100%;
      gap: 1.5rem;
      padding: 1rem;
      box-sizing: border-box;
      margin: 0 auto;
    }
    .form-group {
      width: 100%;
      max-width: 380px;
    }
    textarea {
      width: 405px;
    }
    .register-steps {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

  }
  