.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo {
    display: flex;
    margin-left: 5vw;
  }
  
  .nav-links {
    display: flex;
    font-size: 2vmin;
    list-style: none;
    margin-right: 50vw;
    color: #000000;
    text-decoration: none;
    gap: 20px;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: #0056b3;
  }
  
  .login-button {
    position: relative;
    left: 50vw;
    background-color: transparent;
    color: #01589A;
    border: 2px solid #01589A;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10vw;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

.login-button:hover,
.login-button.active {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
}

/* User Dropdown */
.user-dropdown {
  position: relative;
  left: 40vw;
  text-wrap: nowrap;
}
.user-button {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6vmin;
}
.user-initials {
  background-color: #0056b3;
  color: #ffffffce;
  border-radius: 50%;
  padding: 10px 15px;
  font-weight: bold;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 150px;
  z-index: 10;
}
.dropdown-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: #f0f0f0;
  color: #0056b3;
}
.dropdown-item i {
  color: #7c7c7c;
}

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }

  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  

  .login-popup {
    position: absolute;
    top: 90px;
    left: 80%;
    transform: translateX(-50%);
    width: 300px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .login-popup h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .google-login {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background: #fff;
    color: #0139b1;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .google-login:hover {
    background-color: #f0f0f0;
  }
  .google-login img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .input-group input {
    width: 100%;
    padding: 2px;
    border: none;
    background: none;
    font-size: 1rem;
  }
  .input-group i {
    margin-right: 10px;
    color: #999999;
  }
  
  .signup-link {
    text-decoration: underline;
  }
  .signup-link a {
    color: #007bff;
    text-decoration: underline;
  }
  .signup-link a:hover {
    color: #0056b3;
  }
  
  .forgot-password {
    display: block;
    text-align: left;
    margin: 20px;
  }
  .forgot-password a {
    color: #007bff;
    text-decoration: none;
  }
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .login-submit {
    width: 100%;
    padding: 10px;
    background: #01589A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .login-submit:hover {
    background-color: #004080;
  }
  
  .login-popup p {
    text-align: center;
    margin-top: 15px;
  }
  

  @media (min-width: 768px) and (max-width: 1200px) {
    .nav-links {
      font-size: 3vmin;
    }
    .login-button {
      left: 30vw;
    }
    .user-dropdown {
      left: 40vw;
      text-wrap: nowrap;
      font-size: 2.5vmin;
    }
    .user-button {
      font-size: 2.6vmin;
    }
  }
  @media (max-width: 768px) {
    .header {
      height: 10vmin;
    }
    .nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
      width: 200px;
    }
  
    .nav.open {
      display: flex;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: flex-start;
      font-size: 3vmin;
      gap: 5px;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .login-button {
      margin: 10px 0;
      left: 0vw;
    }
  
    .hamburger {
      display: flex;
    }
  
    .login-popup {
      top: 70px;
      left: 250px;
    }
    .user-dropdown {
      left: 0;
      display: flex;
      flex-direction: column;
      z-index: 999;
    }
    .user-button {
      font-size: 2.6vmin;
    }
  }
