.application-profile {
    position: relative;
    top: -100px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px 50px;
    padding-bottom: calc(10vh);
    background-color: #fff;
  }
  .table_title {
    display: flex;
    text-align: left;
    margin-bottom: 50px;
  }
  .table_title span {
    font-weight: lighter;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
  }
  .profile-link {
    text-decoration: none;
    color: #000;
  }
  
  .profile-header .label {
    color: gray;
    font-size: 0.9em;
  }
  .divider_vertical {

    border: none;
    height: 70px;
    border-left: 1px solid #c7c7c7;
    margin: 10px 0;
  }
  .divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .tools {
    display: flex;
    justify-content: left;
    gap: 30px;
    margin: 20px 0;
    margin-bottom: 50px;
  }
  
  .tool {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 13px;
    color: #01589A;
    margin: 5px 0;
    background-color: #ffffff;
  }
  .tool-button {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .tool-button.powerbi {
    background-color: #f0f8ff;
    color: #00008b;
  }
  
  .tool-button.python {
    background-color: #f8f8f8;
    color: #007b7f;
  }
  
  .tool-button.excel {
    background-color: #f0fff0;
    color: #006400;
  }
  
  .tool-button.tableau {
    background-color: #fff0f0;
    color: #8b0000;
  }
  
  .actions {
    display: flex;
    justify-content: left;
    gap: 30px;
  }
  
  .action-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .action-button.home {
    background-color: #e0e0e0;
    color: #000;
  }
  
  .action-button.new-application {
    background-color: #0056b3;
    color: #fff;
  }
  