
  

  .icon-input input select{
    border: none;
  }
  .input-icon {
    position: absolute;
    left: 10px;
    color: #666;
    margin-right: 10px;
  }
  .select-input {
    border: none;
    margin: auto 20px;
    width: 100vw;
    color: #8d8d8d;
  }
  .select-input option {
color: #000;
  }
  .input-icon select {
    border: none;
  }

  .invoice-actions {
    display: flex;
    margin-top: 20px;
    justify-content: right;
    gap: 20px;
  }
  
  .cancel-btn {
    background: #e0e0e0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-btn {
    background: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  