
  .create-learner-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    gap: 15px;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  
  .file-upload input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }
  
  .file-upload label {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    z-index: 0;
  }
  
  
  
  
  