.learners-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  

  .Learners-search-bar {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 8px;
    width: 60vw;
    border-radius: 5px;
    border-bottom: #007bff 1px solid;
    box-sizing: border-box;
  }

  .Learners-search-bar input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
  }
  
  .sort-dropdown {
    width: 10vw;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 8px;
    height: 100%;
    border-radius: 5px;
    border-bottom: #007bff 1px solid;
    box-sizing: border-box;
  }
  
  .Learner-table {
    background: #f1f1f1;
  }
  .create-btn {
    background-color: #01589A;
    border-color: #007bff;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .create-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .learner-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .learner-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .action-icon {
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .view-icon {
    color: #007bff;
  }
  
  .edit-icon {
    color: #28a745;
  }
  
  .delete-icon {
    color: #dc3545;
  }
  
  .action-icon:hover {
    opacity: 0.7;
  }
  
  .ant-table {
    background: white;
    border-radius: 8px;
  }
  
  .ant-pagination {
    text-align: center;
    justify-self: center;
  }
  
  .ant-sort-by {
    background-color: transparent;
  }